body {
  margin: 0;
  padding-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
width:72% !important;
  border-bottom: 1px solid grey;
  background-color: #fff !important;
}
.row {
  margin: 0px !important;
}
 .jumbotron {
  margin-bottom: 0px !important;
  padding: 1rem !important;
  background-color: white !important;
}
.col-sm-3 img {
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
}
.form-control {
  font-size: 1rem !important;
  padding: 25px 15px !important;
}